Django>=4.2,<5.0
psycopg2-binary
django-leaflet
djangorestframework
django-cors-headers<6.0
gunicorn
whitenoise
numpy>=1.26.0
pandas>=2.2.0
scikit-learn>=1.5.0
joblib
django-allauth
django-crispy-forms
crispy-bootstrap5
python-dotenv
django-environ
Pillow
openpyxl
